body{
  box-sizing: border-box;
  background-color: #ececec;
  text-align: center;
}

.unit{
  display: inline-block;
  border: 3px solid black;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  margin-top: 10px;
}

.boss-health{
  margin-top: 0;
  font-size: 2rem;
}

.bigger-title{
  font-size: 1.5rem;
  margin-bottom: 2px;

}

.gold{
  font-size: 1.2rem;
}