body{
  box-sizing: border-box;
  background-color: #ececec;
  text-align: center;
}


.unit{
  display: inline-block;
  border: 3px solid black;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  margin-top: 10px;
}
.boss-details{
  margin-top: 20px;
}

.boss-health{
  margin-top: 0;
  font-size: 2rem;
}

.bigger-title{
  font-size: 1.5rem;
  margin-bottom: 2px;

}

.gold{
  font-size: 1.2rem;
}

.welcome{
  margin-bottom: 50px;
  margin-top: 30px;
  font-style: italic;
}

.btn {
  background-color: rgb(84, 145, 174); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.unit-name{
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.unit-attribute{
  margin: 1px;
}